.background_pic {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('/images/bg.jpeg');
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); 
}

